<form {{action 'comment' on='submit'}}>
  <div class='form-group'>
    <label class='sr-only'>New Comment</label>
    {{textarea value=body class='form-control' placeholder='New comment...'}}
  </div>
  <button type='submit' class='btn btn-primary'>Comment</button>
</form>
