
<form>
  {{input type='text' value=username placeholder='username' class='form-control'}}
  {{input type='password' value=password placeholder='password' class='form-control'}}
  <button type='submit' class='btn btn-primary' {{action "login"}}>Login</button>
</form>
